<p>This is the Category view.</p>


<div class="row marketing">  
   Search:<input ng-model="feature" value="Search">
   <select class="btn btn-primary dropdown-toggle" ng-model="feature" ng-options="feature.name for feature in bzwbk" value="Funkcjonalność"></select>
   <button type="button" class="btn btn-primary dropdown-toggle" ng-click="feature=null">Wyczyść</button>
 </div>

<table id="table-desc" class="table table-striped table-desc">
  <thead><tr>
    <th>BANK</th>
    <td ng-repeat="row in bzwbk| filter:feature">{{ row.name }}</th>
  </tr></thead>
  <tbody><tr>
	<td>BZWBK</td>
    <td ng-repeat="row in bzwbk| filter:feature">{{ row.value }}</td>
  </tr></tbody>
</table>
<div class="btn-group" dropdown is-open="status2.isopen">
      <button type="button2" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Eksport <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">PDF</a></li>
        <li><a href="#">XLS</a></li>
      </ul>
</div>

<div class="row jumbotron">
 wykresy
</div>

<div class="row jumbotron">
 podsumowanie
</div>