<script>
    $(".nav").hide()
</script>
<div class="jumbotron image">
    <form name="loginForm" class="loginForm" ng-controller="LoginCtrl" ng-submit="login(credentials)" novalidate>
        <!--        <label for="username">Username:</label>-->
        <input type="text" id="username" ng-model="credentials.username" class="contrast" placeholder="Wprowadź login">
        <br/>
        <!--        <label for="password">Password:</label>-->
        <input type="text" id="password" ng-model="credentials.password" class="contrast" placeholder="Hasło">
        <br/>
        <br/>
        <a href="#/main">
            <button type="button" class="btn btn-primary">Zaloguj
            </button>
        </a>
    </form>
</div>