<ol class="breadcrumb">
    <li><a href="#">Analizy</a>
    </li>
    <li><a href="#">TOP 4 Banków</a>
    </li>
    <li class="active">klienci indywidualnii - widok alternatywny</li>
</ol>

<!--div class="row well">
           <span ng-repeat="item in feeds" ng-animate="'animate'">
               <span class="glyphicon glyphicon-edit"></span>
			   <a class="small" ng-click="isCollapsed = !isCollapsed" target="_blank">{{item.title}}</a>
               </br>
			   <div collapse="!isCollapsed" >
			     <p>{{item.contentSnippet}} <a href="{{item.link}}">źródło: PR News</a><p>
			   </div>
               </br>
           </span>
</div-->

<!--
<tabset>
    <tab heading="PR News">
        <span ng-repeat="item in feeds" ng-animate="'animate'">
               <span class="glyphicon glyphicon-edit"></span>
        <a class="small" ng-click="isCollapsed = !isCollapsed" target="_blank">{{item.title}}</a>
        </br>
        <div collapse="!isCollapsed">
            <p>{{item.contentSnippet}} <a href="{{item.link}}">źródło: PR News</a>
                <p>
        </div>
        </br>
        </span>
    </tab>
    <tab heading="Twój log">
        <span ng-repeat="item in feeds" ng-animate="'animate'">
               <span class="glyphicon glyphicon-edit"></span>
        <a class="small" ng-click="isCollapsed = !isCollapsed" target="_blank">{{item.title}}</a>
        </br>
        <div collapse="!isCollapsed">
            <p>{{item.contentSnippet}} <a href="{{item.link}}">źródło: PR News</a>
                <p>
        </div>
        </br>
        </span>
    </tab>
</tabset>
-->

<div class="row well">
    <div class="btn-group" dropdown is-open="segment.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
            Wybór segmentu <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">klient indywidualny</a>
            </li>
            <li><a href="#">SME</a>
            </li>
            <li><a href="#">CORPO</a>
            </li>
        </ul>
    </div>
    Wyszukaj:
    <input ng-model="feature" value="Search">
    <select class="btn btn-primary dropdown-toggle" ng-model="feature" ng-options="feature.group for feature in bzwbk_globals" value="Kategoria"></select>
    <button type="button" class="btn btn-primary dropdown-toggle" ng-click="feature=null">Wyczyść</button>
</div>

<div class="row well">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Cecha</th>
                <th><a href="" ng-click="predicate = 'bank1'; reverse=!reverse">BZWBK</a>
                </th>
                <th><a href="" ng-click="predicate = 'bank2'; reverse=!reverse">ING</a>
                </th>
                <th><a href="" ng-click="predicate = 'bank3'; reverse=!reverse">ORANGE</a>
                </th>
                <th><a href="" ng-click="predicate = 'bank4'; reverse=!reverse">Meritum</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <!--
            <tr>
                <td><a ng-href="#/bank">Aktywacja i logowanie</a>
                </td>
                <td ng-repeat="row in logowanie| orderBy:predicate:reverse"><a ng-href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
            <tr>
                <td>Informacje</td>
                <td ng-repeat="row in informacje | filter : feature"><a href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
            <tr>
                <td>Transakcje</td>
                <td ng-repeat="row in transakcje| filter : feature"><a href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
            <tr>
                <td>Sprzedaż wewnętrzna</td>
                <td ng-repeat="row in wewnetrzna| filter : feature"><a href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
            <tr>
                <td>Sprzedaż zewnętrzne</td>
                <td ng-repeat="row in zewnetrzna| filter : feature"><a href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
            <tr>
                <td>Inwestycje</td>
                <td ng-repeat="row in zewnetrzna| filter : feature"><a href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
            <tr>
                <td>Usługi dodatkowe</td>
                <td ng-repeat="row in zewnetrzna| filter : feature"><a href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
            <tr>
                <td>Bezpieczeństwo</td>
                <td ng-repeat="row in zewnetrzna| filter : feature"><a href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
            <tr>
                <td>PFM</td>
                <td ng-repeat="row in zewnetrzna| filter : feature"><a href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
-->
            <tr ng-repeat="feature in features | orderBy:predicate:reverse">
                <td>{{feature.name}}</td>
                <td>{{feature.bank1}}</td>
                <td>{{feature.bank2}}</td>
                <td>{{feature.bank3}}</td>
                <td>{{feature.bank4}}</td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
            Eksport <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">PDF <span class="glyphicon glyphicon-save"></span></a>
            </li>
            <li><a href="#">XLS <span class="glyphicon glyphicon-save"></span></a>
            </li>
        </ul>
    </div>
</div>

<br/>
<br/>

<script>
    $(".nav").show()
</script>