<div class="jumbotron">
  <p><h4>News feed</h4><span class="glyphicon glyphicon-ok"></span></p>
</div>

<div class="row marketing">
   <div class="btn-group" dropdown is-open="segment.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Wybór segmentu <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">klient indywidualny</a></li>
        <li><a href="#">SME</a></li>
		<li><a href="#">CORPO</a></li>
      </ul>
	</div>
   Search:<input ng-model="feature" value="Search">
   <select class="btn btn-primary dropdown-toggle" ng-model="feature" ng-options="feature.group for feature in bzwbk_globals" value="Kategoria"></select>
   <button type="button" class="btn btn-primary dropdown-toggle" ng-click="feature=null">Wyczyść</button>
 </div>

<table class="table table-striped">
  <thead><tr>
	<th>BANK</th>
    <th ng-repeat="feature in bzwbk_globals| filter : feature">
		{{ feature.group }}
		<button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
        Raport
		</button>
	</th>
  </tr></thead>
  <tbody>
  <tr>
	<td><a ng-href="#/bank">BZWBK</a></td>
    <td ng-repeat="row in bzwbk_globals| filter : feature"><a ng-href="#/category">{{ row.value }}</a></td>
  </tr>
  <tr>
	<td>ING</td>
    <td ng-repeat="row in bzwbk_globals| filter : feature"><a href="#">{{ row.value }}</a></td>
  </tr>
  <tr>
	<td>mBank</td>
    <td ng-repeat="row in bzwbk_globals| filter : feature"><a href="#">{{ row.value }}</a></td>
  </tr>
  <tr>
	<td>PKO SA</td>
    <td ng-repeat="row in bzwbk_globals| filter : feature"><a href="#">{{ row.value }}</a></td>
  </tr>
  <tr>
	<td>BGŻ</td>
    <td ng-repeat="row in bzwbk_globals| filter : feature"><a href="#">{{ row.value }}</a></td>
  </tr>
  <tr>
	<td>Getin</td>
    <td ng-repeat="row in bzwbk_globals| filter : feature"><a href="#">{{ row.value }}</a></td>
  </tr>
  </tbody>
</table>
<div class="btn-group" dropdown is-open="status.isopen">
      <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
        Eksport <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">PDF</a></li>
        <li><a href="#">XLS</a></li>
      </ul>
</div>

<br/><br/>