<ol class="breadcrumb">
    <li><a href="#">Analizy</a>
    </li>
    <li><a href="#">TOP 5 Banków</a>
    </li>
    <li class="active">klienci indywidualni - internet</li>
</ol>

<!--div class="row well">
           <span ng-repeat="item in feeds" ng-animate="'animate'">
               <span class="glyphicon glyphicon-edit"></span>
			   <a class="small" ng-click="isCollapsed = !isCollapsed" target="_blank">{{item.title}}</a>
               </br>
			   <div collapse="!isCollapsed" >
			     <p>{{item.contentSnippet}} <a href="{{item.link}}">źródło: PR News</a><p>
			   </div>
               </br>
           </span>
</div-->

<tabset>
    <tab heading="Market News">
        <span ng-repeat="item in feeds" ng-animate="'animate'">
               <span class="glyphicon glyphicon-edit"></span>
        <a class="small" ng-click="isCollapsed = !isCollapsed" target="_blank">{{item.title}}</a>
        </br>
        <div collapse="!isCollapsed">
            <p>{{item.contentSnippet}} <a href="{{item.link}}">źródło: PR News</a>
                <p>
        </div>
        </br>
        </span>
    </tab>
    <tab heading="Obserwatorium News">
        <span ng-repeat="item in feeds" ng-animate="'animate'">
               <span class="glyphicon glyphicon-edit"></span>
        <a class="small" ng-click="isCollapsed = !isCollapsed" target="_blank">{{item.title}}</a>
        </br>
        <div collapse="!isCollapsed">
            <p>{{item.contentSnippet}} <a href="{{item.link}}">źródło: PR News</a>
                <p>
        </div>
        </br>
        </span>
    </tab>
    <tab heading="Twoja historia">
        <span ng-repeat="item in feeds" ng-animate="'animate'">
               <span class="glyphicon glyphicon-edit"></span>
        <a class="small" ng-click="isCollapsed = !isCollapsed" target="_blank">{{item.title}}</a>
        </br>
        <div collapse="!isCollapsed">
            <p>{{item.contentSnippet}} <a href="{{item.link}}">źródło: PR News</a>
                <p>
        </div>
        </br>
        </span>
    </tab>
</tabset>

<div class="row well">
    <div class="btn-group" dropdown is-open="kanal.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
            Wybór kanału <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">internet</a>
            </li>
            <li><a href="#">mobile</a>
            </li>
        </ul>
    </div>
    <div class="btn-group" dropdown is-open="segment.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
            Wybór segmentu <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">klient indywidualny</a>
            </li>
            <li><a href="#">SME</a>
            </li>
            <li><a href="#">CORPO</a>
            </li>
        </ul>
    </div>
    Wyszukaj:
    <input ng-model="feature" value="Search">
    <select class="btn btn-primary dropdown-toggle" ng-model="feature" ng-options="feature.group for feature in bzwbk_globals" value="Kategoria"></select>
    <button type="button" class="btn btn-primary dropdown-toggle" ng-click="feature=null">Wyczyść</button>
</div>

<div class="row well">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Charakterystyka</th>
                <th ng-repeat="feature in bzwbk_globals| filter : feature">
                    {{ feature.group }}
                    <!--button type="button" class="btn btn-primary" ng-model="singleModel" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                        Raport
                    </button-->
                    <small>Raport</small>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a ng-href="#/bank">BZWBK</a>
                </td>
                <td ng-repeat="row in bzwbk_globals| filter : feature"><a ng-href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
            <tr>
                <td>ING</td>
                <td ng-repeat="row in ing| filter : feature"><a href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
            <tr>
                <td>Orange Finanse
                    <br/>(mBank)</td>
                <td ng-repeat="row in orange| filter : feature"><a href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
            <tr>
                <td>Millenium</td>
                <td ng-repeat="row in millenium| filter : feature"><a href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
            <tr>
                <td>Smartbank</td>
                <td ng-repeat="row in smart| filter : feature"><a href="#/category/{{row.link}}">{{ row.value }} <span popover="Zmiana od twojej ostatniej wizyty!" popover-trigger="mouseenter" class="badge" ng-show="row.LU">!</span></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn-group" dropdown is-open="status.isopen">
        <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
            Eksport <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">PDF <span class="glyphicon glyphicon-save"></span></a>
            </li>
            <li><a href="#">XLS <span class="glyphicon glyphicon-save"></span></a>
            </li>
        </ul>
    </div>
</div>

<br/>
<br/>

<script>
    $(".nav").show()
</script>