<p>Widok Sprzedaż wewnętrzna - konto walutowe</p>

<img ng-src="images\data\bzwbk\indywidualny\sprzedaz_wewn\konto_walutowe\4.png" id="thumbnail"></img><br/><br/>

  <!--div style="height: 305px">
    <carousel interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number to stop the interval.
    </div>
  </div-->

<div class="row jumbotron">
 Opis:
  Kroki od 1 do 8
 + dodatkowe metryczki
</div>
  
<div class="row jumbotron">
       Załączniki<span class="caret"></span>
      <ul class="list-group"> 
        <li class="list-group-item"><a href="#">mail 5.pdf <span class="glyphicon glyphicon-save"></span></a></li>
        <li class="list-group-item"><a href="#">mail 8.pdf <span class="glyphicon glyphicon-save"></span></a></li>
		<li class="list-group-item"><a href="#">umowa 6 i 7.pdf <span class="glyphicon glyphicon-save"></span></a></li>
      </ul>
</div>

<div class="row jumbotron">
 Ostatnie zmiany
</div>